<?xml version="1.0" ?>
<robot name="kuka_robot" xmlns:xacro="http://ros.org/wiki/xacro">
    <property name="pi" value="3.141592654"/>

    <!-- Robot -->
    <!-- <xacro:include filename="$(find simtech_kuka_robot_support)/urdf/kr120r2500pro_macro.xacro"/> -->
    <xacro:include filename="$(find simtech_kuka_kr90_support)/urdf/kr90r2700_macro.xacro"/>
    <xacro:kuka_kr90r2700 prefix=""/>
    
    <joint name="kuka_kr90r2700" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.067" rpy="0 0 0"/>
    </joint>

    <!-- Robot table -->
    <!-- <xacro:include filename="$(find simtech_kuka_workcell)/urdf/irbp_a250.xacro"/> -->

    <!-- <joint name="irbp_a250" type="fixed"> -->
        <!-- <parent link="world"/> -->
        <!-- <child link="irbp_a250/base_link"/> -->
        <!-- <origin xyz="1.753 0.015 -0.003" rpy="-0.005599 -0.005742 1.550718"/> -->
        <!-- <origin xyz="1.5 0.02 0" rpy="-0.005599 -0.005742 1.550718"/> -->
    <!-- </joint> -->
   

</robot>
